extends layout.pug

block content

    h3 Web building services
    p Welcome to iocaleb, your one stop for all web related services. Here you get all-round web building services. If you need to give your business a global presence, then look no further because you have just found the right solution. I can help build a responsive, high quality websites and web services that meet your business needs.
    h3 Programming and technical guide
    p In the blog section, you can find useful resources and guides to accomplish some web development tasks. These guides are products of some of the projects I’ve worked on. I share my knowledge with the rest of the web dev community through this medium free.
    h3 Training services
    p Do you desire to learn web development? Your solution is here. You will be trained from the basic concepts to the more advanced concepts of web development. You can become a professional web developer within few months of undergoing this training. At the end of the training, you would have mastered the following web technologies: HTML5, CSS3, Javascript and frameworks like React, Nodejs as well as other web technologies relevant to make you a good web developer.
    p For further information, please submit your enquiry through the contact form or call the phone number displayed on this site.
