extends layout.pug

block content

    div(class="jumbotron home-style")
        h1 Hello,
        p(class="lead") I am Caleb, a full stack (MERN) web developer.
        p(class="lead") I can turn your ideas into reality through this medium.
        p(class="lead") I create custom web apps to help businesses do better online.
        p(class="lead") I can also teach and guide you to become a professional web developer.
        p(class="lead") I am a specialist in what I do. I am available for your next web/software project.
        p
            a(href="/about" class="btn btn-gold btn-lg") Explore more