 /* Some custom styles to beautify this example */
 .bs-example {
    margin-right: 20px;
}
.navbar-gold {
    background-color: black;
    
}
.white-txt {
    color:white;
    font-weight: normal;
}
.menu-dark {
    background-color: black;
    
}
.btn-gold {
    background-color: gray;
    color: white;
    font-weight: bold;
}
.home-style {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.contact-gold {
    background-color: white;
    color: black;
    padding-bottom: 20px;
    font-weight: bold;
}
.phone {
    font-weight: bold;
}